<h1>Log in to Twatter</h1>

<%= link_to "Log in with Facebook", "/auth/facebook" %> 
<%= form_for @user, url: login_path do |f| %>

	<div>
    Email: <%= f.text_field :email %>
  </div>
  <div>
		Password: <%= f.password_field :password %>
	</div>
<%= f.submit "Log in" %>

<% end %>